{# -*- engine: django -*- #}
{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}">
  {% endif %}
{% endblock head %}

{% if article.category is equalto "Labs" %}
  {% block banner %}{% endblock banner %}
  {% block navbar %}{% endblock navbar %}
{% else %}
  {% block css_labs %}
  {% endblock css_labs %}
{% endif %}

{% block content %}
  <article class="static-page">
    {% include 'includes/article/static-header.html' %}
    {% include 'includes/article/static-body.html' %}
  </article>
{% endblock %}
