{# -*- engine: django -*- #}
{% macro wookmark_card(title, datetime, iso_datetime, summary, content, url, tags, show_summary, show_link) %}
  <li class="card-item">
    {% if "lab" in tags %}
      <div class="card-class-notes"><i class="fas fa-flask" data-fa-transform="grow-8"></i>&emsp;<strong>Lab</strong></div>
    {% elif "guide" in tags %}
      <div class="card-guide"><i class="fas fa-map" data-fa-transform="grow-8"></i>&emsp;<strong>Guide</strong></div>
    {% endif %}
    <div class="card-section">
      <h2>{{ title }}</h2>
      {% if "guide" not in tags %}
        <p class="card-datetime"><time datetime="{{ iso_datetime }}">{{ datetime }}</time></p>
      {% endif %}
    </div>
    <div class="card-section">
      {% if show_summary is equalto "true" %}
        <p>{{ summary }}</p>
      {% else %}
        {{ content }}
      {% endif %}
    </div>
    {% if url and show_link is equalto "true" %}
      <div class="card-section card-link">
        <p><a href="{{ url }}"><i class="fas fa-link"></i> Link</a></p>
      </div>
    {% endif %}
  </li>
{% endmacro %}
