body {
  counter-reset: li; /* initialize counter named li */
}

:not(.footnotes) > ol {
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
}

:not(.footnotes) > ol > li {
  position:relative; /* Create a positioning context */
  margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:10px 80px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
  border-top:2px solid #FFCC33;
  background:rgba(30, 98, 56, 0.1);
}

:not(.footnotes) > ol > li:before {
  content:"Exercise " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position:absolute;
  top:-2px;
  left:-2em;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:7em;
  /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
  margin-right:8px;
  padding:4px;
  border-top:2px solid #006633;
  color:#fff;
  background:#006633;
  font-weight:bold;
  text-align:center;
}

:not(.footnotes) > li ol, :not(.footnotes) > li ul {margin-top:6px;}
:not(.footnotes) > ol ol li:last-child {margin-bottom:0;}

.pull-request ul {
  list-style: decimal;
}

iframe {
    margin-bottom: 2em;
}

